.formation-container {
  .role-selection-wrapper {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 140px;

    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .player-item {
      border: 2px solid $black;
      padding: 12px;

      .player-info {
        margin-bottom: 16px;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 22px;
      }
    }
  }

  .bottom-action {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 24px 0;
    background-color: #fff;
    box-shadow: 0 16px 16px 15px rgba($color: #000000, $alpha: 0.5);

    .container-lg {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 20px;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    .count-wrapper {
      display: flex;
      align-items: center;
      gap: 32px;
      list-style: none;
      padding-left: 0;
      margin-bottom: 10px;

      @include media-breakpoint-up(md) {
        margin-bottom: 0;
      }

      li {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 16px;

        @include media-breakpoint-up(md) {
          font-size: 20px;
        }
      }
    }

    button {
      &:only-child {
        margin-left: auto;
      }
    }
  }
}
