.banner-action {
  padding: 60px 0;
  background-color: $green-dark;
  // background-image: url('https://picsum.photos/1000/300');

  .container {
    display: flex;
    justify-content: flex-end;
  }

  .action-link {
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid #000;
    text-decoration: none;
    border-radius: 4px;
    background-color: #000;

    &:hover {
      text-decoration: underline;
    }
  }
}